{{#contentFor "pageHead"}}
	<link rel="stylesheet" href="/styles/errorpage.css" type="text/css">
{{/contentFor}}

<div id="center">
	<div id="center-image">
		<img src="/assets/images/404.svg" alt="404 Page Not Found">
	</div><br>
	<div id="center-text">
		<h1>Well, things happen..</h1>
		<p>
			<a href="http://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_Server_Error">500 Internal Server Error</a> has been occured.<br>
		Please try again after a few minutes.<br>
		Sorry for the inconvenience.
		</p>
	</div>
</div>