{{#contentFor "pageHead"}}
	<link rel="stylesheet" href="/styles/cover.css" type="text/css">
	<script src="/scripts/helper.js" type="text/javascript"></script>
	<script src="/scripts/cover.js" type="text/javascript"></script>
{{/contentFor}}

<div id="top">
	<div id="top-bar"></div>
</div>

<div id="logo">
	<a href="/about" style="text-decoration:none;">
		<img id="logo-image" src="/assets/images/logo-black.svg" alt="Logo">
	</a>
		<h1>Unravel-it<span class="version">Alpha</h1>
</div>

<div id="search">
	<input id="search-text" type="text" name="search-text" autofocus>
	<button id="search-button" name="search-button"></button>
	<a id="create-new" href="/entry/new" title="Create New">New</a>
</div>

<ul id="result"></ul>

<div id="featured">
	<span class="title">Featured Timeline</span>
	<a href="/tl/arduino-trademark-dispute/general-history-of-arduino" class="featured-item">Check Arduino trademark dispute with the history of Arduino</a>
</div>

<div id="recent"></div>